# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database (если добавишь позже)
*.db
*.sqlite3

# Environment variables
.env

# Build
dist/
build/